body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  color: #757575;
}
:root {
  --logo-color: #2196f3;
  --title-color: #212121;
  --title-sektion-color: #2f303a;
  --adress-color: #ffffff;
  --team-color: #f5f4fa;
  --logo-font: Raleway, sans-serif;
  --conact-color: rgba(255, 255, 255, 0.6);
  --button: #188ce8;
}
.description {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link {
  color: inherit;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--logo-color);
}

img {
  display: block;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.web-link {
  display: block;
}
/* heder */

.icon-heder {
  fill: #afb1b8;
  margin-right: 10px;
}
.header-links:hover .icon-heder {
  fill: #2196f3;
}
.header {
  border-bottom: 1px solid #ececec;
}
.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-links {
  padding-top: 10px;
  padding-bottom: 10px;
}
.men .menu-item:not(:last-child) {
  margin-right: 50px;
}
.web-link {
  margin-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-li .menu-item:not(:last-child) {
  margin-right: 50px;
}

.conteiner .menu-list {
  display: flex;
}

.header .conteiner {
  min-height: 80px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  align-items: center;
}
.lin {
  color: var(--logo-color);
}
.logo-web {
  font-family: var(--logo-font);
  font-weight: 700d;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.header-link:focus,
.header-link:hover: {
  color: var(--logo-color);
}
.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.li {
  color: var(--logo-color);
}

/*title section*/
.title-section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.nav-lin {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--logo-color);
}
.title-section {
  max-width: 1600;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bacimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-list {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--adress-color);
}
.title-button {
  text-align: center;
}
.button {
  border-radius: 4px;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--adress-color);
  background-color: #2196f3;
}
.button:focus,
.button:hover {
  color: var (--adress-color);
  background: var(--button);
}
/*title section*/

/*information section*/
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.signature {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.categories {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.team-section {
  background: var(--team-color);
}
/*information section*/

/* item-conteiner*/
.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.mini-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.mini-link:not(:last-child) {
  margin-right: 10px;
}
.mini-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.mini-link:hover .icon {
  fill: var(--adress-color);
}
.mini-lin {
  width: 44px;
  height: 44px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.mini-link:hover {
  background-color: var(--logo-color);
}
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-description {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team-li {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title {
  margin-bottom: 50px;
}
.team {
  margin-bottom: 10px;
}
.categories {
  margin-bottom: 10px;
}

.etem-list {
  flex-basis: calc((100%-120px) / 4);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin-top: 30px;
  margin-left: 30px;
}
.team-li {
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background-color: var(--adress-color);
}
/*item-conteiner*/

/* description-conteiner*/
.item-list-g::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.Group::before {
  background-image: url(../images/Group.svg);
}
.clock::before {
  background-image: url(../images/clock.svg);
}
.diagram::before {
  background-image: url(../images/diagram.svg);
}
.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.description-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.description {
  margin-right: -30px;
}

.description-conteiner {
  display: flex;
}
.item-description {
  display: flex;
}
.item-description .item-list {
  width: 270px;
}

.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  margin-right: 30px;
}
/* description-conteiner*/

/*onteiner-work-examples*/

.section-work-examples {
  padding-bottom: 94px;
}
.box-list {
  margin-left: 30px;
  margin-top: 30px;
}
.item-list-description {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

/*onteiner-work-examples*/

/* clients-section*/
.clients-icon {
  fill: #afb1b8;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-list:hover {
  border-color: #2196f3;
}
.clients-list:hover .clients-icon {
  fill: #2196f3;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}
.clients-list {
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

/* clients-section*/

/* footer */
.footer-conteiner {
  align-items: baseline;
  display: flex;
}
.footer-dive {
  margin-right: 70px;
}
h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--adress-color);
}

.contact-details {
  background: var(--title-sektion-color);
}
.log-studio {
  color: var(--adress-color);
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.menu-list-footer {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.google-adres {
  color: var(--adress-color);
}
.conakt-adres {
  color: var(--conact-color);
}
.menu-list-footer:hover .menu-list-footer:focus {
  color: var(--logo-color);
}
.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.conakt-adres:not(:last-child) {
  margin-bottom: 9px;
}
.google-adres {
  margin-bottom: 9px;
}

.mini-list-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.mini-link-footer:not(:last-child) {
  margin-right: 10px;
}
.mini-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.mini-link-footer:hover,
.mini-link-footer:focus {
  background-color: #2196f3;
}

/* footer */

/* portfolio*/

.description-portfolio-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-lin {
  display: inline-block;
  margin-bottom: 20px;
}
.nav-button-description {
  margin-bottom: 50px;
  display: flex;

  justify-content: center;
}
.nav-button-li:not(:last-child) {
  margin-right: 8px;
}
.footer-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}
.nav-button {
  min-height: 38px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--title-color);
}

.nav-button:focus,
.nav-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--adress-color);
  background: var(--logo-color);
}
.port-list {
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.title-portfolio {
  margin-bottom: 4px;
}
.description-portfolio-link {
  width: 370px;
  margin-top: 30px;
  margin-right: 30px;
}

.img-pr {
  display: block;
}
.description-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
